[Unit]
Description=Weekly Unbound root hints refresh

[Timer]
OnCalendar=Sun *-*-* 03:56:00
Persistent=true
Unit=update-unbound-root-hints.service

[Install]
WantedBy=timers.target
