server:
  local-zone: "mykk.foo." static

  # Example A records
  local-data: "pi4server.mykk.foo.   IN A 192.168.50.2"
  local-data: "pi4server02.mykk.foo. IN A 192.168.50.3"

  # Example CNAMEs
  local-data: "nas.mykk.foo. IN CNAME truenas.mykk.foo."

  # Example PTRs
  local-data-ptr: "192.168.50.2 pi4server.mykk.foo."
  local-data-ptr: "192.168.50.3 pi4server02.mykk.foo."
